@model IEnumerable<TechnicalAdvisor.Models.XmlProduct>
@{
    ViewData["Title"] = "ViewXML";
}

<h1>Here you'll see XML stuff.</h1>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
                 
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
             

            </tr>
        }
    </tbody>
</table>

