body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.body-content{
    padding-top: 7em;
}

.navbar{
    min-height: 130px;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.445);
}

.navbar-fixed-top{
    border-width:0 0 3px;
}

.navbar-brand{
    height: auto;
}

.logo-client-header {
    width: 9%;
}

.mainFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.445);
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 1em;
    border-top-width: thin;
    border-top-color: white;
    border-top-style: solid;
}

._footer {
    color: whitesmoke;
    font-size: medium;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    
}

.logo-footer {
    width: 7%;
    margin-right: 1em;
}

.zero_margin_para{
    margin: auto 0px auto;

}